@import 'breakpoints.scss';
@import 'src/variables.scss';

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: $color-main;
  font-family: 'Overpass', sans-serif;
  background-color: $main-bg;
  font-size: 20px;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 800;
  font-size: 2em;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 10px;
  @include for-tablet-up {
    font-size: 3.5em;
    line-height: 1.2em;
  }
}

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: $light-bg;
  border-radius: $br;
  border: none;
  color: $color-dark;
  line-height: 1.5em;
  min-width: 100px;
  width: 100%;
  @include for-laptop-up {
    min-width: 100px;
  }
  &:hover {
    box-shadow: $box-shadow;
  }
}
