///Text color

$color-dark: #100c46;
$color-gray: #8e8e93;
$color-main: rgb(255, 255, 255);
$color-dark-gray: #081f32;
///Bg color
$main-bg: rgba(98, 87, 254, 1);
$light-bg: #ffffff;
//shadow color

$box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);

// border-radius
$br: 3px;

// border
$border-search: 1px solid rgba(0, 0, 0, 0.5);
$border-line: 1px solid #6e798c29;
$border-photo: 5px solid #f2f2f7;
