///Text color

$color-dark: #000000;
$color-gray: #8e8e93;
$color-main: rgb(255, 255, 255);
$color-dark-gray: #081f32;
///Bg color
$main-bg: rgba(98, 87, 254, 1);

//shadow color

$box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
  0px 2px 4px rgba(0, 0, 0, 0.14);

// border-radius
$br: 4px;
$br-ls: 8px;

// border
$border-search: 1px solid rgba(0, 0, 0, 0.5);
$border-line: 1px solid #6e798c29;
$border-photo: 5px solid #f2f2f7;
